
<form [formGroup]="addRaportRequestForm" (ngSubmit)="onSubmit()">
 
  <div  fxLayout="row" fxLayoutAlign="space-evenly center">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Date:</mat-label>
        <input matInput type="date" formControlName="date" placeholder="" required>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Team:</mat-label>
          <input matInput type="text" formControlName="team" placeholder="" required>
        </mat-form-field>
        </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>User</mat-label>
              <mat-select  formControlName="materialsUsed" multiple>
                <mat-option *ngFor="let material of materials" value="{{material}}">{{material}}</mat-option>
              </mat-select>
              <input matInput type="select" formControlName="date" placeholder="">
            </mat-form-field>
            </p>
  </div>
  <div  fxLayout="row" fxLayoutAlign="space-evenly center">

    <angular-editor [config]="config" formControlName="description"  ></angular-editor>


</div>

 

  
  
  
    <input type="button" value="Additional Note" class="form-control" (click)="filterMaterials()">
    
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
   <div  *ngFor="let matItem of materialsFiltered">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>{{matItem.text}}</mat-label>
        <input matInput type="search" name="{{matItem.text}}" [(ngModel)]="matItem.quantity"  [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      </p>
    
   </div>
  </div>
    <button type="submit" class="form-control" [disabled]="!addRaportRequestForm.valid">Save</button>
  
  </form>