.form-container {
  display: block;
  max-width: 500px;
  margin: auto;
  background: #eceff1;
  padding: 48px;
  border-radius: 16px;
}

.form-container mat-form-field {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px;
}
