.material {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.material.reminder {
  border-left: 5px solid green;
}

.material h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  float: left;
  width: 50%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
